 <div id="blog-admin-control-panel"> 
    <label for="control-panel-filter">Filter</label>
    <input type="text" ng-model="blogPostFilter" id="control-panel-filter"></input>
    <div ng-repeat='post in posts | filter:{ title: blogPostFilter }'
         ng-click='setPost(post)'
         class="darkened">

        {{ post.title }}
        
        <button ng-controller="BlogDeletePostController" ng-click="deletePost(post._id, post._rev)" class="delete-button">X</button>
    </div>
</div>
<div ng-controller="BlogAddPostController" ng-include="'/partials/blog/add-post.html'"></div>
<div class="clear"></div>
