<div class="row">
	<div id="blog-sidebar" class="col-sm-3 col-xs-12">
		<div class="recent-post-titles content-box" ng-controller="RecentBlogPosts">
			<h4>Recent Posts</h4>
			<ul>
				<li class="blog-post-title" ng-repeat="post in posts">
					<a href="#/blog/page/{{ post._id }}">{{ post.title }}</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="recent-blog-posts" class="col-sm-9 col-xs-12">
    	<div class="blog-post content-box" ng-repeat="post in posts" ng-include="'/partials/blog/view-post.html'">
    	</div>
	</div>
</div>

<div class="row pagination-buttons" data-paginated-buttons>
	<div class="older-button col-sm-offset-3 col-sm-4 col-xs-6">
		<a href="#/blog/{{ nextPage }}/"><button ng-show="totalPosts > itemsPerPage" class="btn btn-default">&lt;&lt; Older</button></a>
	</div>
	
	<div class="newer-button col-sm-offset-1 col-sm-4 col-xs-6">
		<a href="#/blog/{{ prevPage }}/"><button ng-show="currentPage != 1" class="btn btn-default">Newer &gt;&gt;</button></a>
	</div>
</div>
