/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

.clear {
    float: none !important;
    clear: both !important;
}

form button {
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #ff7800 !important;
}

body {
    position: absolute;
    height: auto;
    min-width: 720px; 
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #e3e3e3;
    background-color: #1c1714;

    font-family: 'Oswald', sans-serif;
}

#content-container > h1 {
    text-align: right;
    position: fixed;
    top: 0;
    display: inline-block;
    width: 86%;
    min-width: 640px; 
    font-size: 3.5em;
    color: #ffe6ba;
    box-shadow: 0px 0px 20px black;
    text-shadow: #ff7800 0em 0em 0.3em;
    height: 75px;
    padding-top: 0.15em;
    padding-right: 0.25em;
    background-color: #151515;
    z-index: 80;
}

#content-container > nav {
    position: fixed;
    display: inline-block;
    min-width: 640px; 
    top: 75px;
    width: 100%;
    z-index: 80;
}

div.facia > div.margin {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
    width: 6.8%;
    box-shadow: 0px 0px 20px black;
    background-color: #1c1714;
    background-image: url(../images/backgroundImage.png);
    background-repeat: repeat;
}

input, textarea {
    border: none;
    color: #333333;
    font-size: 150%;
    background-color: #e4e4e4;
    margin-bottom: 1em;
    line-height: 1em;
    padding: 0.25em;
    border-radius: 0.25em;
}

#left-margin {
    left: 0;
}

#right-margin {
    right: 0;
}

#content-container {
    background-image: url(../images/contentBackground.png);
    position: absolute;
    z-index: 20;
    left: 6.5%;
    right: 6.5%;
    margin-left: auto;
    margin-right: auto;
}

#content-view {
    margin-top: 110px;
    background-repeat: repeat-y;
    background-size: 100%;
    height: 100%;
    padding: 2em;
    min-height: 1200px;
}

nav ul {
    z-index: 30;
    background-image: url(../images/navBackground.png);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: 0px 0px 20px black;
    height: 35px;
}

nav ul li {
    display: inline;
    padding: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #ffe6ba;
    
    font-size: 2.2em;
    font-weight: 100;
}
.darkened {
    background-image: url(../images/black_25.png);
}
.blog-post {
    margin: 0.5em;
    border-radius: 1em;
    padding: 1em;
    padding-bottom: 3em;
    margin-bottom: 2em;
}

.blog-post h2 {
    padding: 0.25em;
    padding-bottom: 0;
    color: #ffe6ba;
    font-size: 2.5em;
}

.blog-post span.blog-date {
    display: inline-block;
    padding-left: 1em;
    padding-top: 1.5em;
    font-size: 70%;
    font-weight: bold;
    margin-bottom: 1em;
    color: #e3e3e3;
    font-family: arial, sans-serif;
}

.blog-post > p {
    padding: 0.75em;
    margin-bottom: 1em;
    font-weight: normal;
    font-size: 105%;
    line-height: 1.8em;
    font-family: verdana, sans-serif;
}

.blog-post > p > h2 {
    font-size: 1em;
    font-weight: bold;
    padding-left: 1em;
    margin-top: 1em;
}

.blog-post blockquote {
    margin: 0.5em;
    margin-left: 1.5em;
    margin-bottom: 2em;
    padding: 0.5em;
    background-color: #222222;
    opacity: 0.75;
}

.blog-post blockquote em {
    font-size: 250%;
    font-family: 'Oswald', sans-serif;
    line-height: 1em;
    margin-top: 1.5em;
    color: #ffe6ba;
}

.blog-post ul {
    list-style-position: inside;
    list-style-type: disc;
    padding: 2em;
}

#blog-post-add {
    padding: 1em;
}

#blog-post-add form, #blog-post-add div.blog-post {
    width: 95%;
    margin: 1em;
}

#blog-post-add form {
    margin-bottom: 9em;
}

#blog-post-add form label {
    display: inline-block;
    margin-bottom: 0.25em;
}

#blog-post-add form span.validation {
    float: right;
    color: #ffaaaa;
}

#blog-post-add form input, #blog-post-add form textarea {
    display: block;
    width: 100%;
}

#blog-post-add form textarea {
    height: 8em;
}

#blog-post-add form button {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.25em;
    font-size: 150%;
    float: right;
    background-color: #e4e4e4;
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 0;
}

#admin-panel form.login-form,
#admin-panel div.login-info  {
    padding: 1em;
    border-radius: 1em;
    text-align: right;
}

#admin-panel form.login-form input {
    font-size: 80%;    
    margin-right: 2em;
}

#admin-panel form.login-form button {
    width: 6em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
}

#blog-admin-panel > div {
    width: 48%;
    float: left;
    padding-right: 1em;
}

#blog-admin-control-panel {
    padding-top: 1.9em;
}

#blog-admin-control-panel > div {
    display: inline-block;
    width: 100%;
    line-height: 3em;
    height: 3em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    vertical-align: middle;
}

#blog-admin-control-panel #control-panel-filter {
    width: 100%;
    font-size: 150%;
    margin: 0;
    margin-bottom: 1em;
    margin-top: 0.25em;
    border: 1px solid #333333;
}

#blog-admin-control-panel > div:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #ffe6ba;
}

#footer-container {
    min-height: 2em;
    text-align: center;
    color: #c0c0c0;
    font-size: 80%;

    padding: 1em;
    padding-top: 2em;
}